
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #010101;
 
}



.cercle {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#main {
  width: 400px;
  height: 400px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  border-radius: 400px;
  background: -webkit-linear-gradient(285deg, #00a8ff 0%, #cc00ff 100%);
  background: linear-gradient(165deg, #00a8ff 0%, #cc00ff 100%);
  margin: 0 auto;
  box-shadow: 0 0 90px rgba(0, 0, 255, 0.6);
}

#screen {
  color: #fff;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*background: #010101;*/
  background: rgba(1, 1, 1, 0.60);
  width: 380px;
  height: 380px;
  margin: 10px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
}

#radial {
  position: absolute;
  margin: 20px;
  width: 340px;
  height: 340px;
  opacity: 0.5;
}
#radial #empty {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #000;
  border-radius: 100%;
  left: 5%;
  top: 5%;
  pointer-events: none;
}
#radial .tick {
  position: absolute;
  width: 1.5px;
  height: 100%;
  left: 50%;
  margin-left: -1px;
  background: #fff;
  pointer-events: none;
}

#home {
  position: absolute;
  mix-blend-mode: screen;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home h1 {

  position: absolute;
  top: 55%;
  margin-top: -55px;
  line-height: 100px;
  text-align: center;
  font-size: 110px;
  width: 100%;
  letter-spacing: 5px;
}